#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
Language                                  : None
DisableFormat                             : 'true'
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-

#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
Language                                  : Cpp
Standard                                  : Auto
BasedOnStyle                              : LLVM
DisableFormat                             : 'false'
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
AccessModifierOffset                      : '-4'
AlignTrailingComments                     : true
#AlignAfterOpenBracket                     : Align
# AlignConsecutiveAssignments             : 'true'
AlignTrailingComments                     : 'true'
AllowAllParametersOfDeclarationOnNextLine : 'true'
AlwaysBreakTemplateDeclarations           : 'true'
BreakBeforeBraces                         : Allman
ColumnLimit                               : '125'
IndentCaseLabels                          : 'true'
IndentWidth                               : '4'
MaxEmptyLinesToKeep                       : '1'
NamespaceIndentation                      : All
PointerAlignment                          : Left
SpacesInAngles                            : 'false'
TabWidth                                  : '4'
UseTab                                    : Always
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-
